* {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
}

html,body{
	background-color: black ;
}

.Class_CV{
	width:80%;

	margin:0 auto;

	background-color: #fbffff;
}
.Class_MainDetails:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.5;
}

.Class_MainDetails{
	position: relative;
	width:100%;
	background-image: url("background.jpg");
	background-size: 100% 100%;
}
.Class_Name h1:before{
	content: "";
	position: absolute;
	width:100%;
	height: 2px;
	background-image: linear-gradient(-90deg, #fff,transparent,#fff);
	left: 0;
	top: 50%;

}
.Class_Name{
	position: relative;
	padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}

.Class_Name h1{
	position: relative;
	color: white;
	font-size: xx-large;
	
}
.Class_Name p{

	color: white;
	font-size: x-small;
	
}
.Class_ProfileImage{
	position: relative;
	display: flex;
	justify-content: center;
}

.Class_ProfileImage img{
	width:100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid white;

}
.Class_Objective{
	
}
.Class_Objective h1{
	position: relative;
	width: 25%;
	left:45%;
	padding-top: 15px;
	
	
}
.Class_Objective p{
	width: 85%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}
.Class_Profile{
	position: relative
}
.Class_SectionLeft{
	word-break: break-word;
	width: 50%;
	float: left;
	border-right:2.5px solid #989898;
	box-sizing: border-box;
	
}
.Class_Contact{
	width: 100%;
	position:relative;
	padding-right: 20px;
	padding-bottom: 25px;
	float: left;
	box-sizing: border-box;

}
.Class_h1{
	width: 100%;
	text-align: right;
	
	padding-bottom: 25px;
}
.Class_info{
	width: 100%;
	float: left;
	
}
.address{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.label{
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 15px;
	box-sizing: border-box;

}
.description{
	width: 50%;
	float: left;
}
.experience{
	margin-bottom: 25px;
}
.Class_SectionRight{
	word-break:break-word;
	width:50%;
	float:left;
	padding-left: 20px;
	padding-right: 25px;
    box-sizing: border-box
}
.Class_Clear{
	clear: both;
}
.Class_h1R{
	margin-bottom:25px;
}
.Class_paraR{
	padding-bottom: 20px;
	text-align: justify;

}

